extends layout

block content
  form.form-inline(action='/subject_search')
    .form-group
      label(for='exampleInputName2') 검색
      input#exampleInputName2.form-control(type='text', name='sub_name', placeholder='과목이름')
    button.btn.btn-default(type='submit') Search

  div
    style().
      div>button {
        display: inline;
      }
    h2 필터
    div
      button.btn.btn-lg.btn-default 비주얼컴퓨팅 트랙
      button.btn.btn-lg.btn-primary 멀티미디어 트랙
      button.btn.btn-lg.btn-success 사물인터넷 트랙
      button.btn.btn-lg.btn-info 시스템응요 트랙
      button.btn.btn-lg.btn-warning 지능형인지 트랙
      button.btn.btn-lg.btn-danger 가상현실 트랙
    div
      button.btn.btn-lg.btn-default 1학년
      button.btn.btn-lg.btn-primary 2학년
      button.btn.btn-lg.btn-success 3학년
      button.btn.btn-lg.btn-info 4학년
    div
      button.btn.btn-lg.btn-default 1학기
      button.btn.btn-lg.btn-primary 2학기

  table.table.table-striped
    tr
      th 학수번호
      th 과목이름
      th 학기
      th 교수명
      th 수업계획서
      th 타입
      th 교과
    each i in data
      tr
        td #{i.Subject_Id}
        td #{i.Subject_Name}
        td #{i.Semester}
        td #{i.Professor}
        td
          a(href='#{i.Plan}') 수업계획서
        td
          -for(j=0 ; j < i.Track_Name.length ; j++)
            if i.Track_Name[j] == "1"
              case j
                when 0: 비쥬얼 컴퓨팅 / 
                when 1: 멀티미디어 / 
                when 2: 사물인터넷 / 
                when 3: 시스템응용 / 
                when 4: 인공지능 / 
                when 5: 가상현실 / 
                when 6: 정보보호 / 
                when 7: 데이터사이언스 / 
                when 8: SW교육 / 
                when 9: 사이버국방
                default: 아몰랑
        td #{i.Type_id}
